@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	transition: all 300ms ease-in-out;
}

html {
	font-size: 16px;
}

.nav {
	height: 4rem;
}

.brand-botup {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	color: #7a7a7a;
}

.brand-botup span {
	color: #b5b5b5;
}

.page-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	color: #363636;
}