@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
	transition: all 300ms ease-in-out;
}

html {
	font-size: 16px;
}

.nav {
	height: 4rem;
}

.brand-botup {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	color: #7a7a7a;
}

.brand-botup span {
	color: #b5b5b5;
}

.page-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	color: #363636;
}

/* Horizontally center forms */
.container > .column {
	margin-left: auto;
	margin-right:auto;
}

.mont {
	font-family: 'Montserrat', sans-serif; 
}

/* Vertically center forms */
.container {
	margin-top: 8%;
}

/* Horizontally center login button */
.login {
	text-align: center;
}

/* Login button colors */
.login > .button{
	background-color: #5b5a5a;
}

.login > .button:hover, .login > .button:focus{
	background-color: #363636;
}

.notification{
	display: none;
	text-align: center;
	font-size: 1.2rem;
}